body{
	line-height: 1;
	margin: 0;
	background-color: whitesmoke;
}

h1, h2, h3, h4, h5, h6, label, legend {
    color: deepskyblue;
}

form.plan-form {
    max-width: 80%;
    margin: auto;
}

input.plan-btn {
    color: #ffffff;
    background-color: saddlebrown;
    width: 90%;
    margin-bottom: 10px;
}

.box {
    margin-top: 1.2rem;
    padding: 40px 0px 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}

.content-section {
    display: flex;
    padding: 10px 5rem;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}