<!-- extends layout html page-->
{% extends "layout.html" %}

<!-- extends css link -->
{% block CSS %}
<link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

<!--block content from html page -->
{% block content %}

<!-- flashed message from website -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, msg in messages %}
<div class="alert alert-{{ category}}">
    <p>{{msg}}</p>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<!-- div containing the template -->
<div class="container-fluid starting">
    <div class="row">
        <div class="col-sm-12 col-md-1"></div>
        <div class="col-sm-12 col-md-10">

            <!-- div containing page header -->
            <div class="box">
                <div class="content-section">
                    <legend class="border-bottom mb-4">{{ legend }}</legend>

                    <!-- div of table headers -->
                    <div class="plan-display">
                        {% if not plans.items %}
                            <h2>No Record</h2>
                        {% else %}
                        {% for plan in plans.items %}
                        <div class="content-section">
                            <div class="content-header">
                                <img class="rounded-circle img-header"
                                    src="{{ url_for('static', filename='profile_pics/' + plan.surveyor.image_file) }}"
                                    alt="Profile Picture">
                                <div class="user">
                                    <a href="{{ url_for('lodgement.record', user_id=plan.surveyor.id) }}">
                                        {{plan.surveyor.full_name }}({{ plan.surveyor.prefix}})
                                    </a>
                                    {{ plan.date_of_survey.strftime('%d-%m-%Y') }}
                                </div>
                            </div>

                            <div class="content-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-4">
                                            <h6 class="pr-3">Plan Number: {{ plan.plan_no }}</h6>
                                            <h6 class="pr-3">Location of Survey: {{ plan.location }}</h6>
                                            <h6 class="pr-3">Purpose of Survey: {{ plan.purpose_of_survey }}</h6>
                                            <h6 class="pr-3">Area of Land: {{ plan.area_of_land }}</h6>
                                            <h6 class="pr-3">Lodgement Fee: {{ plan.lodegement_fee }}</h6>
                                        </div>

                                        <div class="col-sm-12 col-md-8">
                                            <img class="plan-img"
                                                src="{{ url_for('static', filename='plan_image/' + plan.plan_file) }}"
                                                alt="Image of Plan">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        {% endfor %}
                        <div class="links">
                            {% for page_num in plans.iter_pages(left_edge=1, right_edge=1, left_current=1,
                            right_current=2)
                            %}
                            {% if page_num %}
                            {% if plans.page == page_num %}
                            <a class="btn btn-info mt-4 mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num
                                }}</a>
                            {% else %}
                            <a class="btn btn-outline-info mt-4 mb-4" href="{{ url_for('main.home', page=page_num) }}">{{
                                page_num }}</a>
                            {% endif %}
                            {% else %}
                            ...
                            {% endif %}
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-1"></div>
    </div>
</div>
{% endblock content %}