<!-- extends layout html page-->
{% extends "layout.html" %}

<!-- extends css link -->
{% block CSS %}
<link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

<!--block content from html page -->
{% block content %}

<!-- flashed message from website -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, msg in messages %}
<div class="alert alert-{{ category}}">
    <p>{{msg}}</p>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<!-- div containing the template -->
<div class="container-fluid starting">
    <div class="row">
        <div class="col-sm-12 col-md-2"></div>
        <div class="col-sm-12 col-md-8">

            <!-- div containing pge header -->
            <div class="container-fluid">
                <legend class="border-bottom mb-4">Lodgement Data</legend>

                <!-- div of table headers -->
                <div class="plan-display">
                    <table>
                        <thead>
                            <tr>
                                <th class="pr-3">Full Name</th>
                                <th class="pr-3">Prefix</th>
                                <th class="pr-3">Name of Survey</th>
                                <th class="pr-3">Plan Number</th>
                                <th class="pr-3">Location of Survey</th>
                                <th class="pr-3">Purpose of Survey</th>
                                <th class="pr-3">Date of Survey</th>
                                <th class="pr-3">Area of Land</th>
                                <th class="pr-3">Lodgement Fee</th>
                            </tr>
                        </thead>

                        <!-- div of table body -->
                        <tbody>
                            {% for plan in plans.items %}
                            <tr>
                                <td><small>{{ plan.surveyor.full_name }}</small></td>
                                <td><small>{{ plan.surveyor.prefix }}</small></td>
                                <td><small>{{ plan.name_of_survey }}</small></td>
                                <td><small>{{ plan.plan_no }}</small></td>
                                <td><small>{{ plan.location }}</small></td>
                                <td><small>{{ plan.purpose_of_survey }}</small></td>
                                <td><small>{{ plan.date_of_survey.strftime('%d-%m-%Y') }}</small></td>
                                <td><small>{{ plan.area_of_land }}</small></td>
                                <td><small>{{ plan.lodegement_fee }}</small></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="links">
                        {% for page_num in plans.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2)
                        %}
                        {% if page_num %}
                        {% if plans.page == page_num %}
                        <a class="btn btn-info mt-4 mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
                        {% else %}
                        <a class="btn btn-outline-info mt-4 mb-4" href="{{ url_for('home', page=page_num) }}">{{
                            page_num }}</a>
                        {% endif %}
                        {% else %}
                        ...
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-2"></div>
    </div>
</div>
{% endblock content %}